<div class="first">
    <div class="container container--2">
        <h1 class="h1">
            <div class="h1__monochrome">Мастер на&nbsp;все руки</div>
            <div class="h1__color">в Белгороде и&nbsp;области</div>
        </h1>
        <p class="first__text">Мы решим вашу проблему.</p>
        <p class="first__text">Один звонок, и никаких забот!</p>
        <div class="calculator flexbox">
            <include src="icon-calc.html"></include>
            <div class="calculator__text">Расчёт стоимости работ</div>
        </div>
    </div>
    <div class="container container--1">
        <include src="call-master.html"></include>
    </div>
    <include src="slider.html"></include>
    <div class="triangle">
        <img class="triangle__lightning" src="img/lightning.svg" alt="">
        <div class="triangle__caution">Осторожно!</div>
        <div class="triangle__profi">Высокий <br />профессионализм</div>
        <div class="triangle__danger">Опасно для поломок!</div>
    </div>
</div>