<header class="header">
    <div class="container container--1 container--header flexbox">
        <span class="logo">Мастер на дом</span>
        <div class="contacts">
            <div class="phone-num">
                <include src="icon-phone.html"></include>
                <div class="phone-num__text">Звоните с 9:00 до 22:00, без обеда и выходных</div>
            </div>
            <div class="social">
                <include src="icon-viber.html"></include>
                <include src="icon-telegram.html"></include>
                <include src="icon-whatsap.html"></include>
            </div>
        </div>
        <div class="advice">
            
        </div>
    </div>
</header>