<div class="second">
    <div class="container container--1">
        <div class="section">
            <h2 class="h2 h2--second">Сантехника</h2>
            <div class="section__items flexbox">
                <div class="section__item flexbox">
                    <div class="section__text">Установка сантех<wbr>ни<wbr>ки</div>
                    <div class="section__price">от <b class="bold">5700</b> руб</div>
                </div>
                <div class="section__item flexbox">
                    <div class="section__text">Установка сифона под ванну</div>
                    <div class="section__price">от <b class="bold">700</b> руб</div>
                </div>
                <div class="section__item flexbox">
                    <div class="section__text">Подключе<wbr>ние стираль<wbr>ной машины</div>
                    <div class="section__price">от <b class="bold">1500</b> руб</div>
                </div>
                <div class="section__item flexbox">
                    <div class="section__text">Замена старых труб</div>
                    <div class="section__price">от <b class="bold">5000</b> руб</div>
                </div>
            </div>
            <div class="more">
                <button class="section__button" type="button">больше услуг</button>
            </div>
        </div>
        <div class="section">
            <h2 class="h2 h2--second">Электрика</h2>
            <div class="section__items flexbox">
                <div class="section__item flexbox">
                    <div class="section__text">Установка распре<wbr>де<wbr>ли<wbr>тель<wbr>но<wbr>го щитка</div>
                    <div class="section__price">от <b class="bold">5700</b> руб</div>
                </div>
                <div class="section__item flexbox">
                    <div class="section__text">Замена проводки</div>
                    <div class="section__price">от <b class="bold">700</b> руб</div>
                </div>
                <div class="section__item flexbox">
                    <div class="section__text">Установка слабо<wbr>точ<wbr>ных систем</div>
                    <div class="section__price">от <b class="bold">1500</b> руб</div>
                </div>
                <div class="section__item flexbox">
                    <div class="section__text">Замена старых лампочек</div>
                    <div class="section__price">от <b class="bold">5000</b> руб</div>
                </div>
            </div>
            <div class="more">
                <button class="section__button" type="button">больше услуг</button>
            </div>
        </div>
    </div>
    <div class="features flexbox">
        <div class="features__item">
            <img src="img/icon-features-1.svg" class="features__img" alt="">
            <div class="features__text">Гарантия<br /> на все работы<br /> три года</div>
        </div>
        <div class="features__item">
            <img src="img/icon-features-2.svg" class="features__img" alt="">
            <div class="features__text">Профессионалы<br />  с опытом<br />  работы от 3 лет</div>
        </div>
        <div class="features__item">
            <img src="img/icon-features-3.svg" class="features__img" alt="">
            <div class="features__text">Сертификаты<br />  качества</div>
        </div>
    </div>
</div>