<div class="slider">
    <div class="fotorama" 
        data-width="100%"
        data-ratio="800/850"
        data-loop="true">
        <div class="slider__item flexbox">
            <div class="slider__page flexbox">
                <span class="slider__num">1</span>
                <i class="slider__italic">/ 3</i>
            </div>
            <div class="container container--2 slider__content flexbox">
                <div class="slider__text">Выполним любые<br /> работы по сантехнике</div>
            </div>
        </div>
        <div class="slider__item flexbox">
            <div class="slider__page flexbox">
                <span class="slider__num">2</span>
                <i class="slider__italic">/ 3</i>
            </div>
            <div class="container container--2 slider__content flexbox">
                <div class="slider__text">Починим неисправности <br />в электрике</div>
            </div>
        </div>
        <div class="slider__item flexbox">
            <div class="slider__page flexbox">
                <span class="slider__num">3</span>
                <i class="slider__italic">/ 3</i>
            </div>
            <div class="container container--2 slider__content flexbox">
                <div class="slider__text">Сделаем мелкий <br />ремонт в квартире</div>
            </div>
        </div>
    </div>
</div>