:root {
    --border-color: #cccccc;
    --main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    font-family: var(--main-font);
}

img {
    width: 200px;
    border: 1px solid var(--border-color);
}
