@import 'reset.css';

:root {
    --border-color: #111111;
    --main-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    font-family: var(--main-font);
}

h1 {
    font-size: 1.5em;
    margin: 1.5em 0;
}

p {
    color: var(--border-color);
    padding-top: .625em;
    padding-bottom: .625em;
}